In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ibtracs.ALL.list.v04r00.csv')

C:\Users\christina.sarver\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,2,8,9,14,19,20,25,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,second,kts,second,ft,nmile,nmile,nmile,nmile,kts,degrees
1,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 03:00:00,NR,10.9000,80.3000,...,,,,,,,,,9,266
2,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 06:00:00,NR,10.8709,79.8265,...,,,,,,,,,9,267
3,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 09:00:00,NR,10.8431,79.3524,...,,,,,,,,,9,267
4,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 12:00:00,NR,10.8188,78.8772,...,,,,,,,,,9,267

In [4]:
df1 = df.drop(0)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695400 entries, 1 to 695400
Columns: 163 entries, SID to STORM_DIR
dtypes: object(163)
memory usage: 870.1+ MB

In [6]:
df1['NATURE'].value_counts()

TS    489050
NR    160518
ET     27924
DS      8295
MX      6939
SS      2674
Name: NATURE, dtype: int64

In [7]:
df1.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON',
       ...
       'BOM_GUST_PER', 'REUNION_GUST', 'REUNION_GUST_PER', 'USA_SEAHGT',
       'USA_SEARAD_NE', 'USA_SEARAD_SE', 'USA_SEARAD_SW', 'USA_SEARAD_NW',
       'STORM_SPEED', 'STORM_DIR'],
      dtype='object', length=163)

In [8]:
df1['SEASON'].unique()

array(['1842', '1845', '1848', '1851', '1852', '1853', '1854', '1855',
       1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865,
       1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876,
       1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887,
       1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898,
       1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909,
       1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021], dtype=object)

In [9]:
df1['SEASON'] = pd.to_numeric(df1['SEASON'])

In [11]:
df1 = df1.drop(df1[df1['NATURE'] == 'NR'])

KeyError: "['SID' 'SEASON' 'NUMBER' 'BASIN' 'SUBBASIN' 'NAME' 'ISO_TIME' 'NATURE'\n 'LAT' 'LON' 'WMO_WIND' 'WMO_PRES' 'WMO_AGENCY' 'TRACK_TYPE' 'DIST2LAND'\n 'LANDFALL' 'IFLAG' 'USA_AGENCY' 'USA_ATCF_ID' 'USA_LAT' 'USA_LON'\n 'USA_RECORD' 'USA_STATUS' 'USA_WIND' 'USA_PRES' 'USA_SSHS' 'USA_R34_NE'\n 'USA_R34_SE' 'USA_R34_SW' 'USA_R34_NW' 'USA_R50_NE' 'USA_R50_SE'\n 'USA_R50_SW' 'USA_R50_NW' 'USA_R64_NE' 'USA_R64_SE' 'USA_R64_SW'\n 'USA_R64_NW' 'USA_POCI' 'USA_ROCI' 'USA_RMW' 'USA_EYE' 'TOKYO_LAT'\n 'TOKYO_LON' 'TOKYO_GRADE' 'TOKYO_WIND' 'TOKYO_PRES' 'TOKYO_R50_DIR'\n 'TOKYO_R50_LONG' 'TOKYO_R50_SHORT' 'TOKYO_R30_DIR' 'TOKYO_R30_LONG'\n 'TOKYO_R30_SHORT' 'TOKYO_LAND' 'CMA_LAT' 'CMA_LON' 'CMA_CAT' 'CMA_WIND'\n 'CMA_PRES' 'HKO_LAT' 'HKO_LON' 'HKO_CAT' 'HKO_WIND' 'HKO_PRES'\n 'NEWDELHI_LAT' 'NEWDELHI_LON' 'NEWDELHI_GRADE' 'NEWDELHI_WIND'\n 'NEWDELHI_PRES' 'NEWDELHI_CI' 'NEWDELHI_DP' 'NEWDELHI_POCI' 'REUNION_LAT'\n 'REUNION_LON' 'REUNION_TYPE' 'REUNION_WIND' 'REUNION_PRES' 'REUNION_TNUM'\n 'REUNION_CI' 'REUNION_RMW' 'REUNION_R34_NE' 'REUNION_R34_SE'\n 'REUNION_R34_SW' 'REUNION_R34_NW' 'REUNION_R50_NE' 'REUNION_R50_SE'\n 'REUNION_R50_SW' 'REUNION_R50_NW' 'REUNION_R64_NE' 'REUNION_R64_SE'\n 'REUNION_R64_SW' 'REUNION_R64_NW' 'BOM_LAT' 'BOM_LON' 'BOM_TYPE'\n 'BOM_WIND' 'BOM_PRES' 'BOM_TNUM' 'BOM_CI' 'BOM_RMW' 'BOM_R34_NE'\n 'BOM_R34_SE' 'BOM_R34_SW' 'BOM_R34_NW' 'BOM_R50_NE' 'BOM_R50_SE'\n 'BOM_R50_SW' 'BOM_R50_NW' 'BOM_R64_NE' 'BOM_R64_SE' 'BOM_R64_SW'\n 'BOM_R64_NW' 'BOM_ROCI' 'BOM_POCI' 'BOM_EYE' 'BOM_POS_METHOD'\n 'BOM_PRES_METHOD' 'NADI_LAT' 'NADI_LON' 'NADI_CAT' 'NADI_WIND'\n 'NADI_PRES' 'WELLINGTON_LAT' 'WELLINGTON_LON' 'WELLINGTON_WIND'\n 'WELLINGTON_PRES' 'DS824_LAT' 'DS824_LON' 'DS824_STAGE' 'DS824_WIND'\n 'DS824_PRES' 'TD9636_LAT' 'TD9636_LON' 'TD9636_STAGE' 'TD9636_WIND'\n 'TD9636_PRES' 'TD9635_LAT' 'TD9635_LON' 'TD9635_WIND' 'TD9635_PRES'\n 'TD9635_ROCI' 'NEUMANN_LAT' 'NEUMANN_LON' 'NEUMANN_CLASS' 'NEUMANN_WIND'\n 'NEUMANN_PRES' 'MLC_LAT' 'MLC_LON' 'MLC_CLASS' 'MLC_WIND' 'MLC_PRES'\n 'USA_GUST' 'BOM_GUST' 'BOM_GUST_PER' 'REUNION_GUST' 'REUNION_GUST_PER'\n 'USA_SEAHGT' 'USA_SEARAD_NE' 'USA_SEARAD_SE' 'USA_SEARAD_SW'\n 'USA_SEARAD_NW' 'STORM_SPEED' 'STORM_DIR'] not found in axis"

In [34]:
df1[df1['SEASON'] > 1920].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 563195 entries, 132206 to 695400
Columns: 163 entries, SID to STORM_DIR
dtypes: int64(1), object(162)
memory usage: 704.7+ MB